* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #1d4f42;
    color: white;
    overflow-x: hidden;
  }
  
  .sticky-header {
    height: 70px;
    background-color: #1d4f42;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: sticky;
    z-index: 1000;
    top: 0;
    transition: transform 0.4s ease-out;
  }
  
  .products-border{
    margin-bottom: -35px;
    margin-left: -30px;
    height: 80px;
    width: auto;
    line-height: 1.05;
  }

  #cafe{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 130%;
    margin-left: 22px;
  }

  #ad{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: larger;
    font-size: 160%;
    letter-spacing: 0.15em;
  }
  
  nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 16px;
  }

  nav a:hover{
    color: #C0FF46;
  }

  .header-image-container {
    position: relative;
    height: 45vh;
    overflow: hidden;
  }

  .full-photo{
    margin: -40px -20px 0 -32px;
    height: 55vh;
    width: 105%;
    background-image: url('/cafe ad photos/environment/Untitled\ design\ \(1\).png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    transition: transform 0.4s ease-out;
    filter: blur(5px);
    will-change: transform;
    z-index: 1;
  }

  .content {
    margin-top: -20px;
    position: relative;
    z-index: 2;
  }

  .content #menu-header{
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.15em;
    text-align: center;
    font-size: 90px;
    font-weight: 400;
    margin-top: -260px;
    z-index: 2;
  }
  
  .bev-menu{

  max-width: 100%;
  height: auto;
  margin-top: 10px;
  }

  .food-menu{

  max-width: 100%;
  height: auto;
  margin-top: 10px;
  }

  footer{
    height: 150px;
    background-color: #184238;
  }

  .footer-container{
    margin: 0px 100px 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
  }

  .footer-logo img{
    margin-top: 40px;
    margin-left: 10%;
    position: relative;
    height: 70px;
  }

  .footer-content{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }

  .fb{
    margin-top: 67px;
    height: 35px; 
    vertical-align:middle; 
    margin-right:6px;
  }

  #contact{
    margin-top: 60px;

  }
  
  #add{
    margin-top: 60px;
  }